.body {
	max-width: 1024px; margin: auto;
}

canvas {
	padding-left: 50px;
}

.input.input {
	padding: 5px; margin: 10px 0 0;
	box-shadow: 1px 3px 10px grey;
	background: #f0f0f0;
}

.criteria {
	/*border: 3px white solid;*/
}

.input__text-field > label {
	display: block; margin: auto; width: 25%;
}

.input__text-field input {
	width: 100%; margin: 0 0 3px; padding: 8px;
	border: 0;
	box-shadow: 0 0 6px #d6d6d6 inset;
}

.input__shape,
.input__shape-aspect,
.input__color-mode {
	height: 150px;
}

.input__shape-item,
.input__font-item {
	display: inline-block;
}

form {
	width: 100%;
}

group {
	display: flex;
}

.input__font {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	height: 140px;
}

.input__font-item {
	width: 11%;
	position: relative;
}

.input__font-item > input {
	width: 100%;
	height: 35px;
	opacity: 0;
	display: inline-block;
}

.input__font-item > label {
	position: absolute; top: 0; left: 0;
	color: #b6b6b6;
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	padding: 0 10px 0 0;
}

.input__font input:checked + label {
    background: grey;
    font-weight: 500;
    color: #fff;
}