.toolboard {
	position: absolute; bottom: 0;
	width: 100%;
	display: flex; align-items: flex-end;
}

.toolboard__module {
	padding: 5px; margin: 20px 10px;
	box-shadow: 0px 0px 5px 3px lightgrey;
	background: #fff;	
}

.toolboard__module--secondary {
	padding: 5px; margin: 10px;
	box-shadow: 0px 0px 5px 3px #e6e6e6;	
}

.toolboard__module--pull {
	padding-left: 50px; margin-left: -50px;
}

/*.toolboard__module--overlapped {
	position: relative; z-index: -5;
}*/